* {
    box-sizing: border-box;
    text-emphasis: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
}

body {
    font-family: "poppins", sans-serif;
    margin: 0;
    padding: 0;
    background: #30243a;
    color: black;
}

a {
    text-decoration: none;
    color: #2f003afb;
}

html {
    font-size: 60%;
    overflow-x: hidden;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 12% 2rem;
    background: #6d5f7084;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    /* space-between jono 2ta alada hoi gese */
    align-items: center;
    z-index: 5;
}

.logo {
    font-size: 2.5rem;
    color: #ffffff;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px #f3edf1;
}

.navbar a {
    font-size: 1.8rem;
    color: #af9cbc;
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: #d6bcec;
    border-color: 3px solid #e3d2eb;
    border-bottom: 3px solid #d4b1f1;
}

#menu-icon {
    font-size: 3.6rem;
    color: #b618ce;
    display: none;
}

section {
    min-height: 50vh;
    padding: 10 rem 12% 10rem;
}

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15rem;
}

.logo span {
    columns: #e1bdce;
}


.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: #d0bde1;
    color: #2f003afb;
    box-shadow: 0 0 20px #d0bde1;
    border-radius: 4rem;
    font-size: 1.6rem;
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px #d0bde1;
}

.btn-group {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.btn-group a:nth-of-type(2) {
    background-color: #00000063;
    color: #d0bde1;
    border: 2px solid #d4b1f1;
    box-shadow: 0 0 15px transparent;
}

.btn-group a:nth-of-type(2):hover {
    box-shadow: 0 0 15px #d0bde1;
    background-color: #d0bde1;
    color: #000;
}

.project-card{
    background: #25222813;
    
}
















/* Contact part */


.heading {
    font-size: 5rem;
    text-align: center;
    margin: 0.5rem 0;
    color: white;
}

.contact {
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
    padding: 50px 15px 20px 15px;
    position: relative;
}

.contact h2 {
    margin-bottom: 3rem;
    color: white;
}

.contact form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    margin: 4rem;
    text-align: center;
}

.contact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.contact form .input-box input,
.contact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.8rem;
    color: #a077c1;
    background: #25222813;
    border-radius: 2rem;
    border: 2px solid #d4b1f1;
    margin: 1.2rem 0;
    resize: 0;
}

.contact form .btn {
    margin-top: 2rem;
}

/* footer */
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 25px 0;
    background-color: #5136527f;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #d4b1f1;
}

.footer .social a {
    font-size: 25px;
    color: #d4b1f1;
    border: 2px solid #d4b1f1;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    transition: 0.3 ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2)translateY(-10px);
    background-color: #d4b1f1;
    color: #000;
    box-shadow: 0 0 25px #d4b1f1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.2;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
    color: white;
}

.footer ul li a:hover {
    border-bottom: 3px solid #d4b1f1;
}

.footer ul li {
    display: inline-block;
    padding: 0 12px;
}

.footer .copyright {
    margin-top: 30px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media (max-width: 1200px) {
    .header {
        flex-direction: column;
        padding: 1.5rem;
        gap: 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }

    #menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .navbar {
        display: none;
    }

    .home {
        flex-direction: column;
        padding: 8rem 2rem 5rem;
        gap: 2rem;
    }

    .home-content h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }

    .home-content span {
        margin-top: 2rem;
        gap: 2rem;
        font-size: 2rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
    }

    .home-content p {
        font-size: 1.3rem;
    }

    .home-img img {
        margin-top: 2rem;
        height: 350px;
        width: 350px;
    }

    .btn-group {
        flex-direction: column;
        gap: 1rem;
    }

    .services {
        padding: 60px 10px;
    }

    .timeline::after {
        left: 30px;
    }

    .timeline-item {
        width: 100%;
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 25px;
    }

    .center-line {
        display: none;
    }

    .timeline-dot {
        display: none;
    }

    .timeline-item:nth-child(even),
    .timeline-item:nth-child(odd) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .timeline-content {
        padding: 15px 20px;
    }

    .footer ul li a {
        font-size: 12px;
    }

    .footer ul li {
        padding: 0 10px;
    }
}

/* Responsive Design */
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        padding: 1.5rem;
        gap: 2rem;
    }

    .logo {
        font-size: 2rem;
    }

    .navbar a {
        font-size: 1.4rem;
        margin-left: 1.5rem;
    }

    #menu-icon {
        display: block;
        position: absolute;
        right: 20px;
        top: 20px;
    }

    .navbar {
        display: none;
    }

    .home {
        flex-direction: column;
        padding: 8rem 2rem 5rem;
        gap: 2rem;
    }

    .home-content h1 {
        font-size: 3.5rem;
        margin-top: 2rem;
    }

    .home-content span {
        margin-top: 2rem;
        gap: 2rem;
        font-size: 2.2rem;
    }

    .home-content h3 {
        font-size: 2.2rem;
    }

    .home-content p {
        font-size: 1.7rem;
    }

    .home-img img {
        margin-top: 2rem;
        height: 350px;
        width: 350px;
    }

    .btn-group {
        flex-direction: column;
        gap: 1rem;
    }

    .services {
        padding: 60px 10px;
    }

    .timeline::after {
        left: 30px;
    }

    .timeline-item {
        width: 100%;
        margin-top: 10px;
        padding-left: 60px;
        padding-right: 25px;
    }

    .center-line {
        display: none;
    }

    .timeline-dot {
        display: none;
    }

    .timeline-item:nth-child(even),
    .timeline-item:nth-child(odd) {
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }

    .timeline-content {
        padding: 15px 20px;
    }

    .contact {
        height: 50px;
        padding: 15px 10px;
    }

    .contact form {
        margin: 2rem;
    }

    .contact form .input-box input,
    .contact form textarea {
        font-size: 1.6rem;
        padding: 1rem;
    }

    .contact form .btn {
        font-size: 1.4rem;
        padding: 0.8rem 1.5rem;
    }

    .footer ul li a {
        font-size: 12px;
    }

    .footer ul li {
        padding: 0 10px;
    }

    .container {
        flex-direction: column;
    }

    .skills-section {
        width: 100%;
    }
    .skills-section h2 {
        margin-bottom: 5rem;
    }

    .circle-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    } 
    .circle-skill{
        margin: 0px 35px 10px -15px;
        position: relative;
    }
   
}